
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#eeeeee;
    font-family:Arial, Helvetica, sans-serif;
}


.container{
    width:90%;
    height:90vh;
    margin:30px auto;
    position:relative;
    border-radius:20px;
    overflow:hidden;
}


.left{
    width:60%;
    height:100%;
    background:#FFC400;
    /* position:absolute; */
    left:0;
    top:0;
}


.logo{
    width: 130px;
    /* position:absolute; */
    top:30px;
    left:40px;
}


.subtitle{
    position:absolute;
    top:140px;
    left:50px;

    font-size:14px;
    letter-spacing:3px;
    color:#333;
}


.title{
    position:absolute;
    top:170px;
    left:50px;

    font-size:70px;
    color:#000;
}


.description{
    position:absolute;
    top:280px;
    left:50px;

    width:320px;
    font-size:16px;
    line-height:28px;
    color:#333;
}


.number{
    position:absolute;
    left:50px;
    bottom:60px;
}


.line{
    width:60px;
    height:3px;
    background:black;
    display:inline-block;
    margin-right:10px;
}


.number span{
    font-size:30px;
    font-weight:bold;
}


.pokeball{
    width:180px;

    position:absolute;
    left:-30px;
}
.right{
    width: 40%;
    height: 100%;
     background-color: #fff8e1;

    position: absolute;
    right: 0;
    top: 0;
}

.logo{
    width: 150px;

    position: absolute;
    top: 30px;
    left: 40px;
}

.pikachu{
    position:absolute;
    width:550px;
    left:-160px;
    top:70px;
}
.pikachu{
    position:absolute;
    width:550px;
    left:-160px;
    top:70px;
}

.menu{
    position:absolute;
    top:35px;
    right:40px;

    font-size:30px;
    color:#000;
    cursor:pointer;
}